.director{
    display: flex;
    margin-top: 0px;
    width: 100%;
    position: relative;
    justify-content: space-between;

    padding-right: 0px;
}

.director-bg{
    margin-top: 70px;
    position: relative;
    background-color: #F7F7F7;
    margin-left: 55px;
    margin-right: 85px;
    width: 90%;
}

.director__info{
    width: 50%;
    position: relative;
    padding-left: 20px;
}

.director__info-name{
    font-size: 36px;
    padding-top: 115px;
    margin-bottom: 30px;
}

.director__info-position{
    font-size: 16px;
    color: #828282;
    margin-bottom: 60px;
}

.director__info-description{
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 95px;
    width: 630px;
}

.director__img{
    margin-top: 100px;
}

.arrows{
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.left-arrow{
    position: absolute;
    width: 52px;
    height: 64px;
    top: 50%;
    left: -4%;
    border: 1px solid #242627;
    padding: 5px 20px;
    background-color: #fff;
}

.right-arrow{
    position: absolute;
    width: 52px;
    height: 64px;
    top: 50%;
    right: -4%;
    border: 1px solid #242627;
    padding: 5px 20px;
    background-color: #fff;
}


@media (max-width: 1249px){
    .director__info-description{
        font-size: 17px;
    }
}

@media (max-width: 1049px){
    .director{
        margin-top: 50px;
        flex-direction: column-reverse;
    }

    .director__img{
        margin-top: 0px;
        margin-left: 5%;
        margin-right: 25%;
    }

    .director__info-position{
        margin-bottom: 30px;
    }

    .director-bg{
        margin: 0px 40px;
    }

    .director__info{
        width: 135%;
        background-color: #fff;
        text-align: center;
        margin-left: -20%;

    }

    .director__info-name{
        margin-top: 60px;
        padding-top: 0;
    }

    .director__info-description{
        width: 670px;
        font-size: 18px;
        line-height: 32px;
        margin: 0 auto;
    }

    .right-arrow{
        top: 15%;
        right: 5%;
    }

    .left-arrow{
        top: 15%;
        left: 5%;
    }

    .director-bg .container .ellipses{
        display: none;
    }

}

// Media 768

@media (max-width: 768px) {
    .director__info{
        margin-right: 20%;
    }
    .director__info-description{
        font-size: 16px;
        width: 550px;
    }

    .director__info-name{
        font-size: 30px;
    }

    .director__info-position{
        margin-bottom: 20px;
        font-size: 15px;
    }
}

@media (max-width: 576px){
    .left-arrow, .right-arrow{
        display: none;
    }

    .director-bg{
        margin: 0 20px;
    }

    .director__info{
        margin-bottom: 0;
    }

    .director__info-name{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .director__info-position{
        font-size: 13px;
        margin-bottom: 20px;
    }

    .director__info-description{
        font-size: 13px;
        width: 298px;
        margin-left: 35px;
        margin-bottom: 20px;
        line-height: 22px;
    }

    .director__img{
        width: 280px;
        margin-top: 10px;
        margin-right: 100px;
    }

    .ellipses{
        margin-top: 0;
        margin-bottom: 20px;
        display: block;
        display: flex;
        background: #fff;
    }

    .ellipses__first, .ellipses__second, .ellipses__third{
        width: 6px;
        height: 6px;
    }
}

@media (max-width: 320px){
    .director__info-description{
        margin-left: -10px;
    }

    .director__img{
        margin-left: -50px;
    }
}